<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Альбом Key - Gasoline</title>
		<link rel="stylesheet" href="../public/css/style.css"> 
		<link rel="stylesheet" href="../public/css/album.css"> 
	</head>
	
	<body>
		<header>
			<div class="header-inner">
				<div id="logo" class="log">	
					<p><b>SHINee</b></p>	
				</div>
				<nav>
					<a href="/">Главная</a>
					<a href="/members">Участники</a>
					<a href="/discography">Дискография</a>
					<a href="/awards">Награды</a>
				</nav>
			</div>
		</header>
		<div class="intro">
		</div>
	<main>
	<div class="album_title"><h1> Информация об альбоме Key - Gasoline </h1></div>
		<div class="album_info">
				 <img src="../public/images/Gasoline.jpg">
		<div class="uirmic">
				 <p><b>Название альбома: Gasoline</p> <br> 
				 <p>Жанр альбома: K-поп, Электроника</p><br> 
				 <p>Год выпуска альбома: 2022</p><br>
				 <p>Исполнители, записавшие альбом: Ки, Джено</p><br> 
				 <p>Формат альбома: Полноформатный альбом</p><br><br> 
				 <p>Треклист: </p> <br>
					<ol>
						<li> Gasoline </li>
						<li> Bound </li>
						<li> Villain (feat. Джено из NCT)</li>
						<li> Bury </li>
						<li> Guilty Pleasure </li>
						<li> G.O.A.T (Greatest Of All Time) </li>
						<li> I Can't Sleep </li>
						<li> Ain't Gonna Dance </li>
						<li> Another Life </li>
						<li> Delight </li>
						<li> Proud </li>
					</ol> </b></div>
		</div>
		<footer>
			<p class="copyright">Сделано с любовью</p>
		</footer>
	</body>
</html>