<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Участники SHinee</title>
		<link rel="stylesheet" href="../public/css/style.css"> 
		<link rel="stylesheet" href="../public/css/card_member.css">
		<link rel="stylesheet" href="../public/css/buttonToTop.css"> 
		<link rel="stylesheet" href="../public/css/gallery.css"> 
	</head>
	
	<body>
		<header>
			<div class="header-inner">
				<div id="logo" class="log">	
					<p><b>SHINee</b></p>	
				</div>
				<nav>
					<a href="/">Главная</a>
					<a href="/members">Участники</a>
					<a href="/discography">Дискография</a>
					<a href="/awards">Награды</a>
				</nav>
			</div>
		</header>
		<div class="intro">
		</div>

        <main>
            
            <div class="main_info">
                <h1> Информация об участниках </h1>
            </div>
            <div class="blocks ">
                <div class="block">
		    <img src="../public/images/Onew.jpg" width="350vw" height="250vh"><br>
                    <div class="name"> <p>Онью</p> </div>
                    <p class="leftstr">Реальное имя: </p> <p class="rightstr">Ли ДжинКи</p> <br> 
                    <p class="leftstr">День рождения: </p> <p class="rightstr">14 декабря 1989</p> <br> 
                    <p class="leftstr">Позиция в группе: </p> <p class="rightstr">Лидер, Главный вокалист</p>         
                </div>
        
                <div class="block">
		    <img src="../public/images/Key.jpg" width="350vw" height="250vh"><br>
                    <div class="name"> <p>Ки</p> </div>
                    <p class="leftstr">Реальное имя:</p> <p class="rightstr">Ким КиБом</p> <br>
                    <p class="leftstr">День рождения:</p> <p class="rightstr">23 сентября 1991</p> <br> 
                    <p class="leftstr">Позиция в группе:</p> <p class="rightstr">Репер, Танцор, Вокалист</p>
                </div>
        
                <div class="block">
		    <img src="../public/images/Minho.jpg" width="350vw" height="250vh"><br>
                    <div class="name"> <p>Минхо</p> </div>
                    <p class="leftstr">Реальное имя:</p> <p class="rightstr">Чхве МинХо</p> <br>
                    <p class="leftstr">День рождения:</p> <p class="rightstr">9 декабря 1991</p> <br> 
                    <p class="leftstr">Позиция в группе:</p> <p class="rightstr">Главный репер, Вокалист, Вижуал</p>         
                </div>
                
		<div class="block">
		    <img src="../public/images/Taemin.jpg" width="350vw" height="250vh"><br>
                    <div class="name"> <p>Темин</p> </div>
                    <p class="leftstr">Реальное имя:</p> <p class="rightstr">Ли ТеМин</p><br>
                    <p class="leftstr">День рождения:</p> <p class="rightstr">18 июля 1993</p> <br> 
                    <p class="leftstr">Позиция в группе:</p> <p class="rightstr">Главный танцор, Вокалист</p>
                </div>
        
                <div class="block">
		    <img src="../public/images/Jonghyun.jpg" width="350vw" height="250vh"><br>
                    <div class="name"> <p>Джонгхён</p> </div>
                    <p class="leftstr">Реальное имя:</p> <p class="rightstr">Ким ДжонгХён</p><br>
                    <p class="leftstr">День рождения:</p> <p class="rightstr">8 апреля 1990</p> <br> 
                    <p class="leftstr">Позиция в группе:</p> <p class="rightstr">Главный вокалист</p>        
                </div>
        


            </div> 
           
        </main>
      
        <footer>
            <div class="copyright">
                <p> Сделано с любовью</p>
            </div>
        </footer>
			<a href="#" class="back-to-top"></a>
			<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
			<script src="../public/scripts/scroll.js"></script>
			<script src="../public/scripts/gallery.js"></script>
    </body>
 
</html>