<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Альбом SHINee - Odd</title>
		<link rel="stylesheet" href="../public/css/style.css"> 
		<link rel="stylesheet" href="../public/css/album.css"> 
	</head>
	
	<body>
		<header>
			<div class="header-inner">
				<div id="logo" class="log">	
					<p><b>SHINee</b></p>	
				</div>
				<nav>
					<a href="/">Главная</a>
					<a href="/members">Участники</a>
					<a href="/discography">Дискография</a>
					<a href="/awards">Награды</a>
				</nav>
			</div>
		</header>
		<div class="intro">
		</div>
	<main>
	<div class="album_title"><h1> Информация об альбоме SHINee - Odd</h1></div>
		<div class="album_info">
				 <img src="../public/images/Odd.jpg">
		<div class="uirmic">
				 <p><b>Название альбома: Odd</p> <br> 
				 <p>Жанр альбома: K-поп, Хип-хоп, Поп</p><br> 
				 <p>Год выпуска альбома: </p2> <p1 class="rightstr">2015</p><br>
				 <p>Исполнители, записавшие альбом: Онью, Ки, Минхо, Темин, Джонгхён</p><br> 
				 <p>Формат альбома: Полноформатный альбом</p><br><br> 
				 <p>Треклист: </p> <br>
					<ol>
						<li> Odd Eye </li>
						<li> Love Sick </li>
						<li> View </li>
						<li> Romance </li>
						<li> Trigger </li>
						<li> Farewell My Love </li>
						<li> An Ode to You </li>
						<li> Alive </li>
						<li> Woof Woof </li>
						<li> Black Hole </li>
						<li> An Encore </li>
					</ol> </b></div>
		</div>
		<footer>
			<p class="copyright">Сделано с любовью</p>
		</footer>
	</body>
</html>