<!DOCTYPE html>

<html lang="ru">
	<head>
		<meta charset="UTF-8">
		<title>Альбом Jonghyun - She is</title>
		<link rel="stylesheet" href="../public/css/style.css"> 
		<link rel="stylesheet" href="../public/css/album.css"> 
	</head>
	
	<body>
		<header>
			<div class="header-inner">
				<div id="logo" class="log">	
					<p><b>SHINee</b></p>	
				</div>
				<nav>
					<a href="/">Главная</a>
					<a href="/members">Участники</a>
					<a href="/discography">Дискография</a>
					<a href="/awards">Награды</a>
				</nav>
			</div>
		</header>
		<div class="intro">
		</div>
	<main>
	<div class="album_title"><h1> Информация об альбоме Jonghyun - She is</h1></div>
		<div class="album_info">
				 <img src="../public/images/Sheis.jpg">
		<div class="uirmic">
				 <p><b>Название альбома: She is</p> <br> 
				 <p>Жанр альбома: К-поп, Электроника, Фанк, Соул, Поп</p><br> 
				 <p>Год выпуска альбома: 2016</p><br>
				 <p>Исполнители, записавшие альбом: Джонгхён</p><br> 
				 <p>Формат альбома: Полноформатный альбом</p><br><br>
				 <p>Треклист: </p> <br>
					<ol>
						<li> She Is </li>
						<li> White T-Shirt </li>
						<li> Orbit </li>
						<li> Moon </li>
						<li> AURORA </li>
						<li> Dress Up </li>
						<li> Cocktail </li>
						<li> RED </li>
						<li> Suit Up </li>
					</ol> </b></div>
		</div>
		<footer>
			<p class="copyright">Сделано с любовью</p>
		</footer>
	</body>
</html>